<template>
  <b-card
    title="Campos adicionales"
  >
    <div class="d-flex flex-inline">
      <b-form-input
        class="fieldinput"
        id="txtName"
        v-model="fieldName"
        required
        placeholder="Nombre del campo"
      />

      <b-button
        variant="outline-primary"
        v-on:click="addField"
      >
        Agregar
      </b-button>
    </div>

    <div class="d-flex flex-column fieldslist">
      <div
        v-for="field in fields"
        v-bind:key="field.key"
        class="field"
      >
        <span>{{field.text}}</span>
        <button
          v-on:click="deleteField(field.key)"
          type="button"
          class="close"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </b-card>
</template>

<script>
export default {
  name: 'AdditionalFields',
  data: function() {
    return {
      fields: [
        { text: 'CURP', key: 0 },
        { text: 'Calle', key: 1 },
        { text: 'Colonia', key: 2 },
        { text: 'Municipio', key: 3 },
        { text: 'Ciudad', key: 4 },
      ],
      fieldName: '',
    }
  },
  methods: {
    addField() {
      this.fields.push({ text: this.fieldName, key: this.fields.length });
    },
    deleteField(key) {
      this.fields.splice(key, 1);
    }
  },
}
</script>

<style>
.fieldinput {
  margin-right: 20px;
}

.field {
  background-color: #cacaca;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieldslist {
  margin-top: 20px;
}
</style>