<template>
  <b-card
    title="Correo automàtico"
  >
    <vue-editor v-model="content" />
    <div class="d-flex flex-column forminputs">
      <b-button variant="primary">Guardar</b-button>
      <b-button variant="outline-primary">Enviar Prueba</b-button>
    </div>
  </b-card>
</template>
<script>
import { VueEditor } from "vue2-editor";

export default {
  name: 'AutomaticEmail',
  components: {
    VueEditor,
  },
  data: function() {
    return {
      content: ''
    }
  }
}
</script>
<style>
  .forminputs {
    margin-top: 20px;
  }

  .forminputs button {
    margin-bottom: 10px;
  }
</style>