<template>
  <b-card
    title="Campos"
  >
    <b-row>
      <b-col lg="1" md="12">
        <div class="d-flex justify-content-between">
          <span>Nombre</span>

          <b-form-checkbox
            id="Name"
            v-model="Name"
            name="Name"
          />
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="1" md="12">
        <div class="d-flex justify-content-between">
          <span>Correo</span>

          <b-form-checkbox
            id="Email"
            v-model="Email"
            name="Email"
          />
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="1" md="12">
        <div class="d-flex justify-content-between">
          <span>Telèfono</span>

          <b-form-checkbox
            id="Phone"
            v-model="Phone"
            name="Phone"
          />
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="1" md="12">
        <div class="d-flex justify-content-between">
          <span>C.P.</span>

          <b-form-checkbox
            id="ZipCode"
            v-model="ZipCode"
            name="ZipCode"
          />
        </div>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
export default {
  name: 'Fields',
  data: () => ({
    Email: true,
    Name: true,
    Phone: true,
    ZipCode: true,
  })
}
</script>

<style>

</style>