<template>
  <b-container fluid>
    
    <br />
    <br />
    <br />
    <br />
    <b-row>
      <b-col>
        <Fields />
      </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col>
        <AdditionalFields />
      </b-col>
    </b-row>
    <br />
    <b-row>
      <b-col>
        <AutomaticEmail />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import AdditionalFields from '../components/Generator/AdditionalFields'
import AutomaticEmail from '../components/Generator/AutomaticEmail'
import Fields from '../components/Generator/Fields'

export default {
  name: 'Generator',
  components: {
    AdditionalFields,
    AutomaticEmail,
    Fields,
  }
}
</script>

<style>

</style>
