<template>
  <div id="app">
    <Generator msg="Welcome to Your Vue.js App"/>
    <!-- <Login /> -->
  </div>
</template>

<script>
import Generator from './screens/Generator.vue'
// import Login from './screens/Login.vue'

export default {
  name: 'App',
  components: {
    Generator,
    // Login,
  }
}
</script>

<style>
#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(25deg, #4c55c8, #b64ebd);
}
</style>
